name: "CI"
on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  check-formatting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v15
      with:
        name: waddenn-nixos
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
    - name: Check Formatting
      run: nix fmt -- --check

  flake-check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        host:
          - adguardhome
          - ansible
          - authentik
          - beszel
          - bourse-dashboard
          - caddy
          - calibre
          - dev-nixos
          - gatus
          - gitea
          - github-runner
          - gitlab
          - glance
          - gotify
          - grafana
          - homeassistant
          - immich
          - jellyseerr
          - kubernetes
          - linkwarden
          - myspeed
          - nextcloud-pgsql
          - onlyoffice
          - paperless
          - prometheus
          - tailscale-exit-node
          - tailscale-subnet
          - terraform
          - uptime-kuma
          - valheim
          - vaultwarden
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v15
      with:
        name: waddenn-nixos
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
    - name: Flake Check ${{ matrix.host }}
      run: nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel
