# name: "CI"
# on:
#   push:
#     branches: [ "main" ]
#     paths:
#       - '**.nix'
#       - 'flake.lock'
#   pull_request:
#   workflow_dispatch:

# jobs:
#   check-formatting:
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v4
#     - uses: cachix/install-nix-action@v25
#       with:
#         nix_path: nixpkgs=channel:nixos-unstable
#     - uses: DeterminateSystems/magic-nix-cache-action@v7
#     - name: Check Formatting
#       run: nix fmt -- --check

#   generate-matrix:
#     runs-on: ubuntu-latest
#     outputs:
#       hosts: ${{ steps.set-matrix.outputs.hosts }}
#     steps:
#       - uses: actions/checkout@v4
#       - uses: cachix/install-nix-action@v25
#       - id: set-matrix
#         run: |
#           HOSTS=$(nix eval --json .#nixosConfigurations --apply 'builtins.attrNames')
#           echo "hosts=$HOSTS" >> "$GITHUB_OUTPUT"

#   flake-check:
#     needs: generate-matrix
#     runs-on: ubuntu-latest
#     strategy:
#       fail-fast: false
#       matrix:
#         host: ${{ fromJson(needs.generate-matrix.outputs.hosts) }}
#     steps:
#     - uses: actions/checkout@v4
#     - uses: cachix/install-nix-action@v25
#       with:
#         nix_path: nixpkgs=channel:nixos-unstable
#     - uses: DeterminateSystems/magic-nix-cache-action@v7
#     - name: Flake Check ${{ matrix.host }}
#       run: nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel
